/* add to last element before footer to work */
.footer-space{
	margin-bottom: 400px; /* size of footer */
	z-index: 0;
}

.footer-space-contact{
	margin-bottom: 366px;
	z-index: 0;
}

.footer-sect {
  opacity: 0;
}

footer{
	background-color: rgb(49, 49, 49);
	width: 100%;
	height: auto;
	color: rgb(137, 250, 156);

	/* config for revealed footer - works with footer-space class (above) */
	position: fixed;
	bottom: 0;
	z-index: -1;
}

.contact-sect{
	position: relative;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
}

.contact-sect h2, .chev i{
	text-align: center;
	font-weight: 600;
}

/* GET IN TOUCH - CHEVRON */
h2 a{
	color: rgb(137, 250, 156);
}

h2 a:hover{
	color: rgb(168, 140, 213);
}

.contact-sect h1, .contact-sect h2,
.contact-sect h3, .contact-sect p{
	padding: 0 10px;
}

.contact-sect h3{
	font-size: 16px;
}

.contact-sect h1{
	font-weight: 400;
	text-align: left;
	margin-bottom: 3px;
	font-size: 27px;
}

.contact-sect p{
	font-size: 18px;
}

.contact-link{
	margin-bottom: 15px;
}

.contact-link a{
	color: inherit;
}

.contact-link a:hover{
	color: rgb(168, 140, 213);
	text-decoration: underline;
}

.view-map-lnk{
	color: inherit;
}

.em{
	font-weight: 400;
}

.em:hover{
	text-decoration: underline;
	color: rgb(168, 140, 213);
}

.icon a{
	font-size: 65px;
}

.icon a:hover{
	color: rgb(168, 140, 213);
}

.icon-2 a:hover{
	color: rgb(168, 140, 213);
}

.icon-3 a:hover{
	color: rgb(168, 140, 213);
}

/* CREATED BY WEBDEVLIAM */
.created-by{
	display: flex;
	color: inherit;
	width: 100%;
	padding-bottom: 10px;
}

.created-by p{
	margin: auto auto auto 0;
	font-size: 10px;
}
.created-by a{
	text-decoration: none;
	color: inherit;
}

.liam-link:hover{
	text-decoration: underline;
}

/* SMART DEVICES  */
@media screen and (min-width:  500px){

	.contact-sect h1,  .contact-sect h2,
	.contact-sect h3, .contact-sect p{
		padding: 0 20px;
	}
}
