*{
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body{
  color: rgb(49, 49, 49);
  font-family: 'Josefin Sans', sans-serif;
  opacity: 0; /* Used with animations.js */
}

.pointer{
  cursor: pointer;
}

.uppercase{
  text-transform: uppercase;
}

.underline{
  text-decoration: underline;
}

a{
  text-decoration: none;
}


/* LANDING PAGE */
.welcome-banner{
  padding-top: 50px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.preload-banner{
  background: url("https://www.dropbox.com/s/22kptlhu5ckontr/landing-placeholder.jpg?raw=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.landing-banner {
  background: url("https://www.dropbox.com/s/z7fl89571b2h7gy/staceydoeshair-landing.png?raw=1");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.chevron-down{
  color: rgb(137, 250, 156);
  font-size: 50px;
  text-align: center;
  height: auto;
  margin: auto auto 20px auto;
}


/* INTRODUCTION SECTION */
.intro-sect{
  padding-top: 50px;
  padding-bottom: 65px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: rgb(168, 140, 213);
  color: rgb(255, 255, 255);
  font-size: 18px;
}

.intro-cont{
  max-width: 750px;
  width: 80%;
  margin: 0 auto;
}

.intro-cont h2{
  padding-bottom: 10px;
}

.intro-cont h2, .intro-cont p{
  text-align: center;
}

.cred-cont{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.cred-row{
  display: flex;
  flex-direction: row;
  height: auto;
  margin: auto auto;
  margin-top: 50px;
}

.cred-row img{
  width: 50%;
  max-width: 200px;
}



/* SALON SECTION */
.salon-sect{
  background-color: rgb(49, 49, 49);
  color: rgb(255, 255, 255);
  font-size: 18px;
}
.salon-cont{
  margin: auto auto;
}

.salon-cont-info{
  padding: 20px 10px;
}

.salon-cont-info h2{
  padding: 10px 0 20px 0;
}

.salon-cont-info h2, .salon-cont-info p{
  text-align: center;
}


/* MOBILE & EVENTS SECTION */
.mob-eve-sect{
  background-color: rgb(255, 255, 255);
  color: rgb(49, 49, 49);
  font-size: 18px;
}

.mob-eve-cont{
    margin: auto auto;
}

.mob-eve-cont-info{
  padding: 20px 10px;
}

.mob-eve-cont-info h2{
  padding: 10px 0 20px 0;
}

.mob-eve-cont-info h2, .mob-eve-cont-info p{
  text-align: center;
}


/* PRODUCTS USED */
.prods-list{
  height: auto;
  background-color: rgb(168, 140, 213);
  color: rgb(199, 251, 180);
  text-align: center;
}

.prods-list h3{
  padding-top: 40px;
  color: rgb(49, 49, 49);
}

.prods-list-icon{
  font-size: 25px;
  padding-bottom: 20px;
  color: rgb(49, 49, 49);
}

.prods-list-cont{
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  padding-bottom: 20px;
}

.prods-list-col{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 20px;
  margin: auto;
}

.prods-list-col img{
  width: 90%;
  margin: auto auto;
  padding-bottom: 40px;
}


/* UNIVERSAL CENTERING FOR ALL INFO SECTIONS */
.info-cont{
  max-width: 650px;
  margin: auto auto;
}


/* SECTIONS TITLES */
.intro-cont h2, .salon-cont-info h2, .mob-eve-cont-info h2{
  text-decoration: underline;
  color: rgb(137, 250, 156);
}

.sect-title{
  color: rgb(255, 255, 255);
}

.sect-title-2{
  color: rgb(49, 49, 49); /* Affects titles on contact & price_list.html */
}


/* ICONS USED IN SECTIONS */
.icon-cont{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.icon-row{
  display: flex;
  flex-direction: row;
  height: auto;
  margin: auto auto;
  margin-bottom: 10px;
}

.icon-row img{
  width: 50px;
}


/* SMART DEVICES */
@media screen and (min-width: 500px){

  .intro-sect{
    padding-top: 80px;
  }

  .prods-list-cont{
    flex-direction: row;
  }
  .prods-list-col{
    width: 50%;
  }

}

@media screen and (min-width: 670px){

  .salon-cont-info p{
    font-size: 14px;
  }

}

@media screen and (min-width: 755px){

  .salon-cont-info p{
    font-size: 18px;
  }

}

@media screen and (min-width:  800px){

  .intro-sect{
    padding-top: 100px;
  }

}
@media screen and (min-width: 1000px){

  .prods-list-col{
    flex-direction: row;
  }

  .prods-list-col img{
    width: 45%;
  }

}
@media screen and (min-width: 1000px){

  .icon-row{
    margin-bottom: 20px;
  }

  .icon-row img{
    width: 65px;
  }

}

@media screen and (min-width: 1300px){

  .intro-sect, .salon-sect, .mob-eve-sect{
    font-size: 22px;
  }

  .intro-sect{
    padding-bottom: 95px;
  }

}
