/*

<div class="flex-cont">

	<div class="flex-col"></div>

	<div class="flex-col"></div>

</div>

*/

.flex-cont{
	display: flex;
	width: 100%;
	height: auto;
	flex-direction: column;
}

.flex-col{
	display: flex;
	flex-direction: column;
	width: 100%;
}

.flex-col-img{ /* add to image inside .flex-col */
	width: 100%;
}

.flex-row-rev{
	/* flex-direction: row-reverse; */
}

.flex-col-rev{
	/* flex-direction: column-reverse; */
}

@media screen and (min-width: 670px){

	.flex-cont{
		flex-direction: row;
	}

	.flex-row-rev{
		flex-direction: row-reverse;
	}

	.flex-col{
		width: 50%;
	}

}